{# templates/error/custom_error.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Erreur {{ code }}</title>
</head>
<body>
<h1>Erreur {{ code }}</h1>
<p>{{ message }}</p>
</body>
</html>
